/* Rodapé*/
footer {
  background-color: var(--background);
  text-align: center;
  padding: 30px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

footer summary {
  background-color: var(--background-alt);
}

footer i {
  transform: scale(0.6) translate(6px, 16px);
}
